body {
    font: 14px "Century Gothic", Futura, sans-serif;
    /*margin: 20px;*/
  }

  .text-center {
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    /*border: 1px solid red;*/
  }

  .flex-container {
    display: flex;
    width:100%;
  }

  .flex-container > .effect{
    width:45%;
  }

  .flex-container > .middle-reason{
    width:25%;
    /*border: 1px solid red;*/
  }

  .flex-container > .cause{
    width:30%;
  }
  
  /*
  .flex-container > .graph{
    width:40%;
  }*/

/*bodyContour.js*/
.body-container {
  position: relative;
}

.body-contents {
  /*border: 1px solid red;*/
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.front-back-body path {
  /*fill:rgba(255, 0, 0, 0);
  stroke:rgb(30, 131, 190);*/
  fill: none;
  stroke:rgba(255, 255, 255, 0);
  stroke-miterlimit:10;
  stroke-width:6px;
  pointer-events:all;
  cursor: pointer;
}

.front-back-body path:hover {
  fill: rgba(255, 0, 0, 0.2);
}


.front-back-body ellipse {
  /*fill:rgba(255, 0, 0, 0);
  stroke:rgb(30, 131, 190);*/
  fill: none;
  stroke:rgba(255, 255, 255, 0);
  stroke-miterlimit:10;
  stroke-width:6px;
  pointer-events:all;
  cursor: pointer;
}

.front-back-body ellipse:hover {
  fill: rgba(255, 0, 0, 0.2);
}

.front-back-body .path-selected{
  fill: rgba(255, 0, 0, 0.2);
}

.front-back-body .path-selected:hover{
  fill: rgba(255, 0, 0, 0.4);
}

.front-back-body .path-selected-l2{
  fill: rgba(255, 0, 0, 0.4);
}

/*Body Path*/
.front-back-body .path-potential{
  fill: rgba(0, 102, 255, 0.2);
}

.front-back-body .path-potential:hover{
  fill:rgba(0, 102, 255, 0.4);
}

/*Spinal Path*/
.spinal-path{
  stroke: #333;
  stroke-width: 1.25px;
  fill: rgb(255, 255, 255);
  cursor: pointer;
}

.spinal-path:hover{
  fill: rgb(0, 102, 255);
}

.spinal-path-related{
  stroke: #333;
  stroke-width: 1.25px;
  fill: rgb(255, 0, 0);
  cursor: pointer;
}

.spinal-path-related:hover{
  fill: rgb(74, 54, 128);
}

.spinal-path-disabled{
  stroke: #333;
  stroke-width: 1.25px;
  fill: rgb(116, 116, 116);
}

/* PatternNodes.js*/
.pattern-list{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0;
  font-size: 14px;
  color: rgb(255, 255, 255);
  /*border: 1px solid black;*/
}

.pattern-list > li{
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  align-items: center;
  /*border: 1px solid red;*/
}

.pattern-list > li > .contents{
  /*border: 1px solid red;*/
  background-color: rgba(25, 20, 20, 0.3);
  flex: 0.5;
  border-radius: 25px;
}

.pattern-list > li > .left{
  margin-left: 40px;
  margin-right: 10px;
}

.pattern-list > li > .right{
  margin-left: 10px;
  margin-right: 40px;
}


.pattern-list > li > .contents:hover{
  background-color: rgba(25, 20, 20, 0.4);
}