body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  .center {
  }

  .flex-container {
    display: flex;
    width:100%;
  }
  
  .flex-container > .graph{
    width:40%;
  }
  
  .flex-container > .pd{
    width:60%;
  }

p{
  height: 20px;
}

/*bodyContour.js*/
.body-container {
  position: relative;
}

.body-contents {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#body-contour > path{
}

.front-back-body path {
  /*fill:rgba(255, 0, 0, 0);
  stroke:rgb(30, 131, 190);*/
  fill: none;
  stroke:rgba(255, 255, 255, 0);
  stroke-miterlimit:10;
  stroke-width:6px;
  pointer-events:all;
  cursor: pointer;
}

.front-back-body path:hover {
  fill: rgba(255, 0, 0, 0.2);
}


.front-back-body ellipse {
  /*fill:rgba(255, 0, 0, 0);
  stroke:rgb(30, 131, 190);*/
  fill: none;
  stroke:rgba(255, 255, 255, 0);
  stroke-miterlimit:10;
  stroke-width:6px;
  pointer-events:all;
  cursor: pointer;
}

.front-back-body ellipse:hover {
  fill: rgba(255, 0, 0, 0.2);
}

.front-back-body .path-selected{
  fill: rgba(255, 0, 0, 0.2);
}

.front-back-body .path-selected:hover{
  fill: rgba(255, 0, 0, 0.4);
}

.front-back-body .path-selected-l2{
  fill: rgba(255, 0, 0, 0.4);
}

/*Body Path*/
.front-back-body .path-potential{
  fill: rgba(0, 102, 255, 0.2);
}

.front-back-body .path-potential:hover{
  fill:rgba(0, 102, 255, 0.4);
}

/*Spinal Path*/
.spinal-path{
  stroke: #333;
  stroke-width: 1.25px;
  fill: rgb(255, 255, 255);
  cursor: pointer;
}

.spinal-path:hover{
  fill: rgb(0, 102, 255);
}

.spinal-path-related{
  stroke: #333;
  stroke-width: 1.25px;
  fill: rgb(255, 0, 0);
  cursor: pointer;
}

.spinal-path-related:hover{
  fill: rgb(158, 0, 0);
}

.spinal-path-disabled{
  stroke: #333;
  stroke-width: 1.25px;
  fill: rgb(116, 116, 116);
}